.site {
	max-width: 800px;
	margin: 0 auto;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

h1,
h2,
h3 {
	text-align: center;
	margin: 0;
	padding: 16px;
}

h4,
h5,
h6 {
    text-align: center;
    color: white;
    margin: 0;
    padding: 16px;
}

p {
	margin: 0;
	padding: 16px;
}

ul{
display: flex;
justify-content: space-around;
}

li {
    text-align: center;
}

ol{
    text-align: center;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

#profileIma{
    display: block;
    border-radius: 50%;
   
   
}
/*--------------------------------------------------------------
Sections
--------------------------------------------------------------*/
.top{
    background-color: grey;
}

.main{
    background-color: rgb(134, 163, 180);
}



/*--------------------------------------------------------------
Sub-Sections
--------------------------------------------------------------*/
.sidebar{
    background-color: lightcoral;
}

.twin{
    background-color: lightpink;
}

.footer{
    background-color: black;
}
